.loginBtn{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  float: right;
  box-shadow: none;
  font-size: 1em;
  margin: 1rem 0;
}

.loginBtn:hover{
  font-size: 1em;
  font-weight: bold;
}

nav.navbar, .navbar-default {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.navbar-default .navbar-toggle{
  float: left;
  margin-right: 0;
  margin-left: 1rem;
}

.navbar-default .navbar-nav > li > a{
  font-weight: bold;
}
.logo{
  z-index: 1000;
}

.navbar-brand>img{
  display: block;
  height: 100%;
}

.navbar-default .navbar-toggle{
  border-color: transparent;
}

@media only screen and (max-width: 600px) {
    nav.navbar, .navbar-default {
      background-color: #5DA4E2 !important;
      position: absolute;
      width: 100%;
    }
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
}