.custom-form{
  padding: 30px;
  margin-top: 5vh;
}
input{
  box-shadow:inset none !important;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: smaller;
  text-align: left;
}
::placeholder {
  color: rgb(255, 255, 255);
}
::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}

input[type=text] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    box-shadow:inset none; 
}

.input-line {
  box-shadow:inset none !important;
  background-color: transparent;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  color: #272727;
  width: 100%;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: 2px solid #FFFFFF;
}
.DatePicker{
  color: #1c1c1c;
}
.input-line:focus{
  outline: none;
  box-shadow: none;
}
.tag-conatiner{
  width: 100%;
}
.pill-input{

  width: 100%;
  background-color: transparent;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  color: #1c1c1c;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid #757575;
}

.pill-input::-webkit-input-placeholder { /* Chrome */
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.4rem;
 
}
.pill-input::-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.65);
  font-size: .50rem;
 
}
.pill-input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.5rem;
  
}
.pill-input:-moz-placeholder { /* Firefox 4 - 18 */
 color: rgba(0, 0, 0, 0.65);
  font-size: 1rem;
  
}

.tag-pill{

background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);  border-radius: 10px;
  border-radius: 25px;
  padding: 5px;
  padding-left: 20px;
  margin: 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: #1c1c1c;
  transition: 1s;
  -webkit-box-shadow: 0px 10px 52px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 52px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 52px -13px rgba(0,0,0,0.75);
  display: inline-block;
  margin-right:5px;
  cursor: pointer;
}
.close-pill{
  color: #1c1c1c;
  font-size:1.2em;
  padding-left: 25px;
}

.static-modal{
  position: absolute;
  width: 100%;
}

.modal-dialog{
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 0 3em rgba(0, 0, 0, .3);
}

.modal-body{
  padding: 0;
}

.Cal__Container__root{
  margin: auto;
  width: 100% !important;
}

.Cal__Years__list{
  width: 100% !important;
}

.dateModal{
  background-color: rgba(0, 0, 0, 0.5) !important;
}
