.Post {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    width: 20vw;
    padding: 30px;
}
.header{
  display: table;
}
.accountGroup{
  display: table-cell;
  width: 98%;
}
.dropdown-menu div{
  padding: 5px;
 margin-left:5px!important;
}
.Post-console{

  float: right;
	position: relative;
  cursor: pointer;
  margin-top:-10px;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.Post-console i{
  color: #A6A6A6 !important;
  padding-left: 10px;
}
.Post-console i:hover {
	color: #03658c;
}

.qoute p{
  padding: 15px;
  font-size:30px !important;
  font-weight: bolder !important; 
  line-height: normal;
}
.Post-image{
  width: 100%;
  padding: 10px;
}