.Post {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    width: 20vw;
    padding: 30px;
}
.qoute{
  padding: 15px;
  font-size:30px !important;
  font-weight: bolder !important; 
  line-height: normal;
}
.Post-image{
  width: 100%;
  padding: 10px;
}