.scrollable{
    overflow: auto;
    bottom: 100px;
}

::-webkit-scrollbar {
    width: 3px; }
  
  ::-webkit-scrollbar-track {
    background: #f6feef; }
  
  ::-webkit-scrollbar-thumb {
    background: #e9f0e5; }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #dde4d9; 
}

.rce-container-mlist {
    position: relative;
    display: flex;
}

.chat-input{
    min-height: 60px;
    border-top:2px rgba(61, 61, 61, 0.404) solid;
    bottom:0;
    padding: 5px;
}

.send-button{
    border-radius: 25px;
    border: none;
    padding: 10px;
    font-size: 22px;
    color: rgb(58, 58, 58);
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);}
